<?xml version='1.0' encoding='utf-8'?>
<widget id="gov.dol.complychain" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Comply Chain</name>
    <description>
        A sample DoL application describing things about dealing with Child Labor and Forced Labor.
    </description>
    <author email="julien.kilian@icfi.com" href="http://cordova.io">
        ICF Dev
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreen" value="none" />
    <preference name="ShowSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <icon height="120" platform="ios" src="res/comply-chain-app-120.png" width="120" />
    <icon height="180" platform="ios" src="res/comply-chain-app-180.png" width="180" />
    <icon height="72" platform="android" src="res/comply-chain-app-72.png" width="72" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-wkwebview-file-xhr" spec="^1.0.0" />
</widget>
